---
layout: default
title: Health &amp; Safety
section_id: health
---

<div class='full parallax' style='background-image: url(images/page_headers/health.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="Health &amp; Safety" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class="full">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Our Values" %}
      <div class="spacing"></div>
      <p>
        Marcol Fabrications are committed to the implementation and practice of Health and Safety. In addition to our own Health and Safety Policy, which details levels of responsibility and the procedures that are in place for the factory, Marcol are particularly vigilant when operating on customers sites. Full attention is paid to customers’ own Health and Safety rules and regulations.
      </p>
      <p>
        Where site induction is necessary, Marcol welcome this and ensure all employees attend and understand the induction training. Where site work is involved, prior to work commencing, a site survey is undertaken which includes conducting and preparing risk assessments. The result of the assessments leads to Method Statements being prepared and issued to both the customer and to those employees who will be involved in the contract on site. These Method Statements identify the work to be carried out, the possible hazards that may be encountered, the safe system of work to be adopted and the personal protective equipment that must be utilized. On a regular basis the site supervisor will carry out toolbox talks with all staff ensuring they are kept up to date with any changes to the work/environment, in which they are working.
      </p>
      <p>
        All our fabricators/installers hold the “Construction Skills Certification Scheme Construction Related Occupation Card” and the “Client/Contractor National Safety Group Safety Passport”, many at supervisor level. They also hold a number of other qualifications to enable them to carry out the task of the work presented to them.
      </p>
      <div class="three spacing"></div>
    </div>
  </div>
</div>
