---
layout: default
title: Policy Documents
section_id: policy
---

<div class='full parallax' style='background-image: url(images/page_headers/policy.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="Policy Documents" color="#fff" tagline="Quality you can trust" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class="full">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Joint Policy Statement" %}
      <div class="spacing"></div>
      <p>
        The Quality: Environmental and Health &amp; Safety Policy for Marcol Fabrications (Plastics) Limited
        has now been realigned to reflect the changes within the new Standards released. The Policy is
        set out to reflect how these changes influence the business context and its strategic direction as
        well as embracing the requirements of both internal and external parties.
      </p>
      <p>
        It is incumbent on Marcol Fabrications (Plastics) Limited to identify all interested parties that
        influences the business and its context. Marcol Fabrications (Plastics) Limited has set out to
        recognise and determine levels of Risk that could impact the business such as poor quality of
        service; failure to prevent the effects of pollution and protection of the environment. Failure to
        protect all interested parties from harm through poor health &amp; safety all of which could have a
        major impact on both its customer portfolio and own business strategic direction.
      </p>
      <p>
        Having identified the Risks to the business Marcol Fabrications (Plastics) Limited has set out to
        plan and implement actions to address those Risks by either reducing or eliminating those Risks!
      </p>
      <p>
        Business Objectives are set to encompass and address perceived issues that could adversely
        influence the business and to fully support the achievement of this Policy as well as the
        Business Management System and to provide a platform for continual improvement.
      </p>
      <p>
        Marcol Fabrications (Plastics) Limited continue to identify all its compliance obligations and
        strives to ensure compliance in all respects.
      </p>
      <p>
        In addition, the Business has established a full CSR (Corporate Social Responsibility and
        Sustainability Policy) that emphasises its commitment to its employees (internal interested
        parties) as well as its external interested parties.
      </p>
      <p>
        The business has established an active Internal Audit Program to monitor, measure and review
        the delivery and effectiveness of these plans.
      </p>
      <p>
        The above Policy will be maintained as a documented reference and reviewed at least annually
        as well as being made available to all interested parties as appropriate and communicated,
        understood and applied within the organisation itself.
      </p>
      <p>
        <a href='{{site.url}}/images/international_standards/joint_policy_statement.pdf' target="_blank">
          Our Joint Policy Statment is available as a PDF here.
        </a>
      </p>
      <p>
        <a href='{{site.url}}/images/international_standards/marcol_9001.pdf' target="_blank">
          Our ISO 9001 certification is available as a PDF here.
        </a>
      </p>
      <p>
        <a href='{{site.url}}/images/international_standards/marcol_14001.pdf' target="_blank">
          Our ISO 14001 certification is available as a PDF here.
        </a>
      </p>
        <p>
              <a href='{{site.url}}/images/international_standards/Anti_Bribery_Policy.pdf' target="_blank">
          Our Anti Bribary Policy is available as a PDF here.
        </a>
      </p>
        <p>
            <a href='{{site.url}}/images/international_standards/Anti_slavery_policy.pdf' target="_blank">
          Our Anti Slavery Policy is available as a PDF here.
        </a>
      </p>
      <a href='{{site.url}}/images/international_standards/Equal_Opportunities_Policy.pdf' target="_blank">
          Our Equal Opportunities Policy is available as a PDF here.
        </a>
      </p>
        <p>
          <a href='{{site.url}}/images/international_standards/CSR_policy_2022.pdf' target="_blank">
          Our CSR Policy is available as a PDF here.
        </a>
      </p>
        <a href='{{site.url}}/images/international_standards/Equal_Opportunities_Policy.pdf' target="_blank">
          Our Equal Opportunities Policy is available as a PDF here.
        </a>
      </p>
      <div class="three spacing"></div>
    </div>
  </div>
</div>
