---
layout: default
title: Bespoke Fabrication
section_id: portfolio
slides:
  - bg: images/portfolio/bespoke/slide1.jpg
  - bg: images/portfolio/bespoke/slide2.jpg
  - bg: images/portfolio/bespoke/slide3.jpg
  - bg: images/portfolio/bespoke/slide4.jpg
  - bg: images/portfolio/bespoke/slide5.jpg
---

<div
  class="full parallax"
  style="background-color: #999; color: #fff;"
>
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Bespoke Fabrication" tagline="Have a look
      at our work" color="#fff" class="big" %}
    </div>
  </div>
  <div class="four spacing"></div>
</div>

<div class="full">
  <div class="row">
    <div class="large-12 columns">
      <div class="mod modDefaultSlider">
        <div class="sequence" data-autostop="off" data-timeout="3000">
          <a class="sequence-prev" href="javascript:void(0);">
            <span></span>
          </a>
          <a class="sequence-next" href="javascript:void(0);">
            <span></span>
          </a>
          <ul class='sequence-pagination'>
            {% for slide in page.slides %}
              {% if forloop.first %}
                {% assign class = 'current' %}
              {% else %}
                {% assign class = '' %}
              {% endif %}
              <li class="{{class}}"></li>
            {% endfor %}
          </ul>
          <ul class='sequence-canvas'>
            {% for slide in page.slides %}
              {% if forloop.first %}
                {% assign style = 'static' %}
              {% else %}
                {% assign style = '' %}
              {% endif %}
              <li class='frame {{style}} {{ slide.klass }}'>
                <div class='bg' style='background-image: url({{ slide.bg }});'></div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="spacing"></div>
  <div class="row">
    <div class="large-8 columns">
      <h3>Bespoke Fabrication</h3>
      <p>
        Over the last thirty trading years, due to Marcol’s experience, the
        understanding of Polymers and choosing suitable materials, along with
        our comprehensive fabrication techniques, design service and our ability
        to offer 3D drawings, we can offer our customers the first chance to see
        their concept in 3D. All this can take place offsite keeping fabrication
        and travelling costs to a minimum. Basically, if you can think out of
        the box, then we are sure we can be on the outside of the box with you,
        offering guidance all the way.
      </p>
    </div>
  </div>
  <div class="four spacing"></div>
</div>
