---
layout: default
title: Installation
section_id: portfolio
slides:
  - bg: images/portfolio/installation/slide1.jpg
  - bg: images/portfolio/installation/slide2.jpg
  - bg: images/portfolio/installation/slide3.jpg
  - bg: images/portfolio/installation/slide4.jpg
  - bg: images/portfolio/installation/slide5.jpg
---

<div
  class="full parallax"
  style="background-color: #999; color: #fff;"
>
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Installation" tagline="Have a look
      at our work" color="#fff" class="big" %}
    </div>
  </div>
  <div class="four spacing"></div>
</div>

<div class="full">
  <div class="row">
    <div class="large-12 columns">
      <div class="mod modDefaultSlider">
        <div class="sequence" data-autostop="off" data-timeout="3000">
          <a class="sequence-prev" href="javascript:void(0);">
            <span></span>
          </a>
          <a class="sequence-next" href="javascript:void(0);">
            <span></span>
          </a>
          <ul class='sequence-pagination'>
            {% for slide in page.slides %}
              {% if forloop.first %}
                {% assign class = 'current' %}
              {% else %}
                {% assign class = '' %}
              {% endif %}
              <li class="{{class}}"></li>
            {% endfor %}
          </ul>
          <ul class='sequence-canvas'>
            {% for slide in page.slides %}
              {% if forloop.first %}
                {% assign style = 'static' %}
              {% else %}
                {% assign style = '' %}
              {% endif %}
              <li class='frame {{style}} {{ slide.klass }}'>
                <div class='bg' style='background-image: url({{ slide.bg}});'></div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="spacing"></div>
  <div class="row">
    <div class="large-8 columns">
      <h3>Installation</h3>
      <p>
        We offer fully trained site installation team(s), to carry out all your
        onsite requirements from a simple repair, installation of chemical
        pipe-work systems, all the way through to the installation of a complete
        turnkey system, consisting of tanks, extraction, scrubbing system,
        dosing rigs, enclosures, interconnection pipework etc. the list is
        endless.
      </p>
    </div>
  </div>
  <div class="four spacing"></div>
</div>
