---
layout: default
title: Scrubbing Systems
section_id: portfolio
slides:
  - bg: images/portfolio/scrubbing_extraction/slide1.jpg
  - bg: images/portfolio/scrubbing_extraction/slide2.jpg
  - bg: images/portfolio/scrubbing_extraction/slide3.jpg
  - bg: images/portfolio/scrubbing_extraction/slide4.jpg
  - bg: images/portfolio/scrubbing_extraction/slide5.jpg
---

<div
  class="full parallax"
  style="background-color: #999; color: #fff;"
>
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Scrubbing Systems" tagline="Have a look
      at our work" color="#fff" class="big" %}
    </div>
  </div>
  <div class="four spacing"></div>
</div>

<div class="full">
  <div class="row">
    <div class="large-12 columns">
      <div class="mod modDefaultSlider">
        <div class="sequence" data-autostop="off" data-timeout="3000">
          <a class="sequence-prev" href="javascript:void(0);">
            <span></span>
          </a>
          <a class="sequence-next" href="javascript:void(0);">
            <span></span>
          </a>
          <ul class='sequence-pagination'>
            {% for slide in page.slides %}
              {% if forloop.first %}
                {% assign class = 'current' %}
              {% else %}
                {% assign class = '' %}
              {% endif %}
              <li class="{{class}}"></li>
            {% endfor %}
          </ul>
          <ul class='sequence-canvas'>
            {% for slide in page.slides %}
              {% if forloop.first %}
                {% assign style = 'static' %}
              {% else %}
                {% assign style = '' %}
              {% endif %}
              <li class='frame {{style}} {{ slide.klass }}'>
                <div class='bg' style='background-image: url({{ slide.bg}});'></div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="spacing"></div>
  <div class="row">
    <div class="large-8 columns">
      <h3>Scrubbing Systems</h3>
      <p>
        Wet scrubbers and chemical scrubbers are one of the primary devices that
        control gaseous emissions, especially acidic gases. There are several
        methods to remove toxic, or corrosive compounds from exhaust gasses and
        neutralise it, but a wet/chemical scrubber always seem to be the cheaper
        option and with the choice of industrial plastics available to us, there
        is no need for those expensive exotic metals, as most scrubbers can be
        built using some of the most available plastic polymers.
      </p>
    </div>
  </div>
  <div class="four spacing"></div>
</div>
