---
layout: default
title: Pipework
section_id: portfolio
slides:
  - bg: images/portfolio/pipework/slide1.jpg
  - bg: images/portfolio/pipework/slide2.jpg
  - bg: images/portfolio/pipework/slide3.jpg
  - bg: images/portfolio/pipework/slide4.jpg
  - bg: images/portfolio/pipework/slide5.jpg
  - bg: images/portfolio/pipework/slide6.jpg
  - bg: images/portfolio/pipework/slide7.jpg
---

<div
  class="full parallax"
  style="background-color: #999; color: #fff;"
>
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Pipework" tagline="Have a look
      at our work" color="#fff" class="big" %}
    </div>
  </div>
  <div class="four spacing"></div>
</div>

<div class="full">
  <div class="row">
    <div class="large-12 columns">
      <div class="mod modDefaultSlider">
        <div class="sequence" data-autostop="off" data-timeout="3000">
          <a class="sequence-prev" href="javascript:void(0);">
            <span></span>
          </a>
          <a class="sequence-next" href="javascript:void(0);">
            <span></span>
          </a>
          <ul class='sequence-pagination'>
            {% for slide in page.slides %}
              {% if forloop.first %}
                {% assign class = 'current' %}
              {% else %}
                {% assign class = '' %}
              {% endif %}
              <li class="{{class}}"></li>
            {% endfor %}
          </ul>
          <ul class='sequence-canvas'>
            {% for slide in page.slides %}
              {% if forloop.first %}
                {% assign style = 'static' %}
              {% else %}
                {% assign style = '' %}
              {% endif %}
              <li class='frame {{style}} {{ slide.klass }}'>
                <div class='bg' style='background-image: url({{ slide.bg}});'></div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="spacing"></div>
  <div class="row">
    <div class="large-8 columns">
      <h3>Pipework</h3>
      <p>
        Pipe-work, is not just a pipe, it is used to convey corrosive acids;
        potable water and all types of fluids from point ‘A’ to point ‘B’. This
        believe it or not, needs careful design right from the outset. This is
        achieved through years of experience and unwavering support from our
        pipe and fitting suppliers/manufacturers. The systems need to be clearly
        understood. normal conditions need to be assessed, as well as those that
        arise during start up, expansion and contraction, shut down and at times
        of process disruption.
      </p>
      <p>
        Our pipe-work systems will be installed using the latest welding
        equipment / technologies, using thermoplastics such as, PVC, ABS,
        Polypropylene, HDPE and PVDF to name a few. These off the shelf
        materials are used as materials of construction, due to their high
        corrosion resistance and their stability over a wide range of
        temperatures.
      </p>
      <p>
        Piping system can be installed onto prefabricated skids, or we can come
        to site and run a system through some of the most demanding routes, the
        choice is yours. Let us know your requirements and we will supply the
        service.
      </p>
    </div>
  </div>
  <div class="four spacing"></div>
</div>
