<div id='footer'>
  <div class='three spacing'></div>
  <div class='row'>
    <div class='large-3 medium-3 columns'>
      <h1>
        <a href='index.html'>
          <img alt="" src="{{site.url}}/images/marcol_logo.png" style="height: 96px; width: auto;" />
        </a>
      </h1>
      <p>©2019 Marcol Fabrications Ltd. All rights reserved.</p>
      <div class='spacing'></div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <h1>
        <a href='{{site.url}}/images/international_standards/marcol_14001.pdf' target="_blank">
          <img alt="" src="{{site.url}}/images/international_standards/14001.jpg" style="height: 96px; width: auto;" />
        </a>
      </h1>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <h1>
        <a href='{{site.url}}/images/international_standards/marcol_9001.pdf' target="_blank">
          <img alt="" src="{{site.url}}/images/international_standards/9001.jpg" style="height: 96px; width: auto;" />
        </a>
      </h1>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <h4>Contact us</h4>
      <ul>
        <li>Phone: 01275 810022</li>
        <li>Email: <a href="mailto:info@marcolplastics.co.uk">info@marcolplastics.co.uk</a></li>
        <li>Location: Unit 10 Southfield Road Trading Estate, Nailsea, BS48 1JJ</li>
      </ul>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
<script src="{{ "/javascripts/jquery.countTo.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.appear.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.validate.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.sequence-min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.easing.1.3.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/app.js" | prepend: site.baseurl }}" type="text/javascript"></script>
